<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:redisson="http://redisson.org/schema/redisson"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://redisson.org/schema/redisson http://redisson.org/schema/redisson/redisson.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:application.yml" />
	<import resource="classpath:/applicationContext-service.xml"/>
	<!-- redisson -->
	<bean id="redissonCodec" class="org.redisson.client.codec.StringCodec" />
	<!-- redisson单机配置 -->
	<redisson:client id="redissionClient" codec-ref="redissonCodec">
		<redisson:single-server
			address="redis://${redis.host}:${redis.port}"
			password="${redis.pass}" database="${redis.database}"
			connect-timeout="${redis.redisson.timeout}"
			idle-connection-timeout="${redis.redisson.idle-connection-timeout}"
			ping-timeout="${redis.redisson.ping-timeout}"
			connection-pool-size="${redis.redisson.connection-pool-size}" />
	</redisson:client>
	<bean id="httpMsgSender" class="net.icsoc.mnc.http.HttpMsgSender" init-method="init"/>
	<import resource="classpath:applicationContext-mq.xml"/>
</beans>